main {
  margin-top: 60px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 5% 0;
}

.item {
  flex: 1;
}

.brown {
  background-color: burlywood;
}

img {
  width: 100%;
}

/* For Desktop */
@media all and (min-width: 800px) {

  .row {
    flex-direction: row;
    padding: 5%;
  }

  .col {
    flex-direction: column;
  }

}